

<div class="card">
 
  <div class="card-block">
    <h4 class="card-title">About the OMOS project</h4>
    <p class="card-text">You will soon find out the Vision of the OMOS project</p>
    <a href="#" class="btn btn-primary">Learn more</a>
  </div>
   <span class="badge badge-danger">Portal under construction !!!</span>
</div>