<div class="card">
 <div class="row">
 	<div class="col-md-6">
  <div class="card-block">
    <h4 class="card-title">Contact</h4>
    <p class="card-text">Please contact the IT Department</p>
    <a href="#" class="btn btn-primary">Contact</a>
  </div>
</div>

  <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.0754104101834!2d-0.22881528651424557!3d5.5558401351990945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf975379c5f337%3A0x8f2686e1d6774d76!2sICGC+christ+temple!5e0!3m2!1sen!2sgh!4v1509696080201" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
</div>
</div>

