   <div class="inner cover">
            <h1 class="cover-heading">Welcome to the OMOS Portal</h1>
            <h2 class="cover-heading">page under construction ...</h2>
            <p class="lead"> Our vision for the year 2017 is to win a soul , one member at a time</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Administrator</a>
            </p>

             <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Member</a>
            </p>
          </div>